p, h1, h2, h3 {
    color: #EEEEEE;
    font-family: "Times New Roman", Times, serif;
}

h1, h2, h3 {
    font-weight: bold;
}

a {
    color: #AAAAEE;
}

body {
    margin: 0 auto;
    padding: 1%;
    background-color: #222222;
    max-width: 512pt;
}

q {
    font-style: italic;
}

canvas {
    border-style: groove;
    border-width: 15px;
    border-color: black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.info {
    font-size: 14pt;
    font-weight: bold;
}

.nextbutton {
    padding-left: 14pt;
    padding-right: 14pt;
    padding-top: 6pt;
    padding-bottom: 6pt;
    border-style: solid;
    border-width: 1.5pt;
    border-color: #000000;
    border-radius: 7pt;
    background-color: #3C96F2;

    color: #000000;
    font-weight: bold;
    font-size: 16pt;
}
